// Color Theme
$color-theme: (
    major-red: #d91a2a,
    secondary-red: #8c141e,
    absolute-board: #400b0f,
    absolute-white: #f2f2f2,
    absolute-black: #0d0d0d,
);

// Font Sizes
$font-size: (
    xs: 1em,
    m: 1.5em,
    l: 2.5em,
    xl: 3.5em,
);
