/* Footer */
footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // Error Sass no me toma los maps
    // background-color: map-get($color-theme, absolute-black);
    background-color: #0d0d0d;
    height: 5rem;
}
.logo-pr-footer {
    width: 9%;
    min-width: 6em;
    padding: 3px;
    margin: 5px;
}
.copyright {
    font-size: 0.7em;
    padding: 3px;
    margin: 5px;
    // Error Sass no me toma los maps
    // color: map-get($color-theme, absolute-white);
    color: #f2f2f2;
}
