@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

main {
  background-color: #000;
  min-height: 100vh;
}

/* Header */
/* Inicio Boostrap */
.navbar {
  background-color: #0d0d0d !important;
}

.navbar-brand {
  margin: 2px 2px 2px 30px;
}

.navbar-collapse {
  justify-content: flex-end;
  margin-right: 25px;
}

.nav-item {
  padding: 2px 5px;
  margin: 2px 5px;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: #d91a2a;
}

/* Logo header */
.logo-pr-header {
  width: 10em;
  height: auto;
}

/* Fin Boostrap */
/*Media Querys */
@media (max-width: 991px) {
  /* Header */
  .logo-pr-header {
    width: 8em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  /* Header */
  .logo-pr-header {
    width: 7em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  /* Header */
  .logo-pr-header {
    width: 6em;
  }
}
/* Footer */
footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #0d0d0d;
  height: 5rem;
}

.logo-pr-footer {
  width: 9%;
  min-width: 6em;
  padding: 3px;
  margin: 5px;
}

.copyright {
  font-size: 0.7em;
  padding: 3px;
  margin: 5px;
  color: #f2f2f2;
}

.main-title {
  justify-self: center;
  color: #f2f2f2;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  padding: 10px 3px 3px 3px;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  .main-title {
    font-size: 2.5em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  .main-title {
    font-size: 2em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  .main-title {
    font-size: 1.7em;
  }
}
.subtitle {
  justify-self: center;
  color: #f2f2f2;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5em;
  padding: 5px;
  margin: 5px;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  .subtitle {
    font-size: 2.2em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  .subtitle {
    font-size: 1.5em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  .subtitle {
    font-size: 1.2em;
  }
}
.paragraph {
  color: #f2f2f2;
  font-size: 1.5em;
  margin: 5px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  .paragraph {
    font-size: 1.2em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  .paragraph {
    font-size: 1em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  .paragraph {
    font-size: 0.9em;
  }
}
.index-links-bg {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-template-columns: 5% 55% 5%;
  grid-template-rows: 90% 5%;
  background-image: linear-gradient(to top, rgba(64, 11, 15, 0.1529411765) 20%, rgba(242, 242, 242, 0.0196078431) 90%, black);
  width: 100%;
  height: 100%;
  padding-bottom: 10em;
}

.vertical-lr-text,
.vertical-rl-text,
.horizontal-text {
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgba(128, 128, 128, 0.1019607843);
}

.vertical-lr-text {
  writing-mode: sideways-lr;
  justify-self: self-end;
}

.vertical-rl-text {
  writing-mode: sideways-rl;
  justify-self: self-end;
}

.index-links-box {
  display: grid;
  align-items: center;
  align-content: stretch;
  grid-template-areas: "biography biography recitals" " discography community recitals";
  padding: 10px;
  gap: 7px;
  background-color: rgba(128, 128, 128, 0.031372549);
  width: 100%;
  height: 100%;
}

.index-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  color: #f2f2f2;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  border: solid rgba(140, 20, 30, 0.2745098039) 1px;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.index-link:hover {
  border: solid rgba(242, 242, 242, 0.2745098039) 1px;
}

.index_biography-link,
.index_community-link,
.index_discography-link,
.index_recitals-link {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.index_biography-link {
  grid-area: biography;
  background-image: url(../assets/img/indio-skay.jpg);
  background-position: center;
}

.index_recitals-link {
  grid-area: recitals;
  background-image: url(../assets/img/skay.jpg);
  background-position: left;
}

.index_discography-link {
  grid-area: discography;
  background-image: url(../assets/img/gulp.jpg);
  background-position: center;
}

.index_community-link {
  grid-area: community;
  background-image: url(../assets/img/los-redondos-armados.jpg);
  background-position: center;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  .index-links-bg {
    grid-template-columns: 5% 65% 5%;
  }
  .vertical-lr-text,
  .vertical-rl-text,
  .horizontal-text {
    font-size: 1.2em;
  }
  .index-link {
    font-size: 1.5em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  .index-links-bg {
    grid-template-columns: 5% 72% 5%;
    grid-template-rows: 85% 5%;
    padding-bottom: 7em;
  }
  .vertical-lr-text,
  .vertical-rl-text,
  .horizontal-text {
    font-size: 0.9em;
  }
  .index-link {
    font-size: 1.2em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  .index-links-bg {
    grid-template-columns: 5% 80% 5%;
    grid-template-rows: 80% 5%;
  }
}
/* Index */
.main-index {
  display: grid;
  grid-template-rows: 1fr 0.3fr 1fr;
  justify-items: center;
  text-align: center;
  padding: 25px 0 0 0;
}

.introduction {
  background-image: url(../assets/img/todos-los-discos-fondo.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  mask-image: linear-gradient(black 70%, transparent);
  min-height: 100vh;
}

.main-index-logo {
  width: 60%;
  min-width: 23em;
  padding: 5px;
}

.welcome {
  display: grid;
  justify-content: center;
  align-content: end;
  width: 100%;
  height: 100%;
}

.welcome-p {
  padding-top: 5px;
  margin-bottom: 3px;
  border-top: solid rgba(140, 20, 30, 0.2745098039) 2px;
  text-transform: uppercase;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  /* Index */
  .main-index {
    min-height: 85vh;
  }
  .main-index .titulo-principal {
    align-self: flex-start;
  }
  .main-index-logo {
    width: 50%;
  }
  .index-links {
    gap: 0.5em;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  /* Index */
  .main-index {
    gap: 15px;
  }
  .index-links {
    width: 85%;
  }
  .index-text-cards {
    font-size: 1.3em;
  }
}
/* SM Menores a 575px */
@media (max-width: 575px) {
  /* Index */
  .main-index {
    gap: 10px;
  }
  .main-index-logo {
    min-width: 18em;
    padding: 2px;
  }
}
/* Biografía */
/* Inicio Boostrap */
.card-img-overlay {
  padding: 0;
}

.card-group {
  justify-content: center;
  justify-self: center;
  width: 85%;
}

.integrantes-card {
  margin: 15px;
  min-width: 19rem;
  max-width: 19rem;
  padding: 5px;
}

.card-img-top {
  height: 75%;
}

.scrollspy-example-2 {
  color: white;
}

.integrantes-card .card-body {
  height: 25%;
}

/* Fin Boostrap */
.indice-legado {
  background-image: url(../assets/img/fondo-negro-2.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "titulo titulo titulo" "integrantes historia otros";
}

.indice-legado .titulo-principal {
  grid-area: titulo;
  align-self: center;
}

.indice-card {
  border: solid 2px #797878;
  margin: 15px;
  max-width: 20rem;
  min-width: 19rem;
  height: 25rem;
  text-decoration: none;
}

.indice-card-int,
.indice-card-his,
.indice-card-otros {
  background-position: center;
  background-size: cover;
}

.indice-card-int {
  background-image: url(../assets/img/integrantes-retro-recortada.jpg);
  grid-area: integrantes;
}

.indice-card-his {
  background-image: url(../assets/img/entrada-luzbelito.jpg);
  grid-area: historia;
}

.indice-card-otros {
  background-image: url(../assets/img/logo-pr-fondo-negro.jpg);
  grid-area: otros;
}

.indice-card-title {
  color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.indice-card :hover {
  background-color: rgba(0, 0, 0, 0.2823529412);
  color: #ffffff;
}

.integrantes_bg .subtitle {
  text-align: center;
  background-color: #343a40;
  width: 65%;
}

.integrantes_bg {
  padding: 10px;
  background-image: url(../assets/img/los-redondos-posando-color.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.integrantes-cards-group {
  max-width: 85%;
  justify-self: center;
}

.integrantes_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.historia {
  display: grid;
  justify-self: center;
  padding: 10px;
  max-width: 80%;
}

.colscroll {
  height: 35rem;
  overflow: scroll;
}

.colscroll h4 {
  font-size: 2rem;
}

.colscroll p {
  font-size: 1.2rem;
}

.historia_parrafo {
  color: white;
}

.historia_scroll {
  padding: 15px;
  background-color: #2d2c2c;
}

/* QUERYS */
/* LG Menores a 991px */
@media (max-width: 991px) {
  /* Inicio Boostrap */
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
  /* Fin Boostrap */
  /* Biografía */
  .integrantes-cards-group {
    max-width: 95%;
  }
  .indice-card {
    margin: 10px;
    min-width: 15rem;
    height: 20rem;
  }
  .integrantes-card {
    margin: 10px;
    min-width: 15rem;
    max-width: 15rem;
    height: 25rem;
  }
}
/* MD Menores a 767px */
@media (max-width: 767px) {
  /* Inicio Boostrap */
  .card-title {
    font-size: 0.8rem;
  }
  .card-text {
    font-size: 0.7rem;
  }
  /* Fin Boostrap */
  /* Biografia */
  .indice-legado {
    grid-template-areas: "titulo titulo" "integrantes historia" "otros otros";
  }
  .indice-card {
    min-width: 13rem;
    height: 18rem;
  }
  .integrantes-card {
    margin: 5px;
    min-width: 12rem;
    max-width: 12rem;
    height: 20rem;
  }
}
/* Comunidad */
.comunidad-mensaje {
  width: 15rem;
  height: 8rem;
}

/* Discografía */
.discography-bg {
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.8666666667) url(../assets/icons/museo-redondo-blanco.png);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
}
.discography-bg .subtitle {
  border-bottom: solid #400b0f 2px;
}

.black-bg {
  width: 40%;
  height: 70%;
  background-color: rgba(13, 13, 13, 0.7882352941);
  position: absolute;
  right: 10%;
  top: 25%;
}

.discography-disk-list {
  position: relative;
  padding: 10px;
  margin: 5% 0 10px 0;
  width: 100%;
  height: 100vh;
}

.discography_disk {
  align-items: center;
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.disk-name {
  position: absolute;
  width: 50%;
  bottom: 0;
  padding: 5px;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0);
}

.discography_disk-img {
  z-index: 1;
  margin: 2px;
  width: 100%;
  height: 100%;
  border: solid rgba(128, 128, 128, 0.3764705882) 1px;
  border-radius: 10px;
}
.discography_disk-img:hover {
  transform: translateX(50%);
  transition: ease-out 1.5s;
}
.discography_disk-img:hover ~ .disk-name {
  transform: translateX(160%);
  transition: ease-out 1.6s;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.377);
}

.discography_disk-momo-sampler:hover ~ .song-list {
  color: red;
}

.discography_disk-gulp {
  top: 45%;
  left: 1%;
}

.discography_disk-oktubre {
  top: 40%;
  left: 4%;
}

.discography_disk-ojo-idiota {
  top: 35%;
  left: 7%;
}

.discography_disk-bang-bang {
  top: 30%;
  left: 10%;
}

.discography_disk-la-mosca {
  top: 25%;
  left: 13%;
}

.discography_disk-lobo-suelto {
  top: 20%;
  left: 16%;
}

.discography_disk-cordero-atado {
  top: 15%;
  left: 19%;
}

.discography_disk-luz-belito {
  top: 10%;
  left: 22%;
}

.discography_disk-ultimo-bondi {
  top: 5%;
  left: 25%;
}

.discography_disk-momo-sampler {
  top: 0%;
  left: 28%;
}

/*# sourceMappingURL=styles.css.map */
